<p id="notice"><%= notice %></p>

<%= image_tag @usuario.avatar.url %>
<%= image_tag @usuario.avatar.url(:medium) %>
<%= image_tag @usuario.avatar.url(:thumb) %>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
