<%= form_for(@categoria_de_servico) do |f| %>
  <% if @categoria_de_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_de_servico.errors.count, "error") %> prohibited this categoria_de_servico from being saved:</h2>

      <ul>
      <% @categoria_de_servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
