<h1>Listing categoria_de_servicos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_de_servicos.each do |categoria_de_servico| %>
      <tr>
        <td><%= categoria_de_servico.titulo %></td>
        <td><%= link_to 'Show', categoria_de_servico %></td>
        <td><%= link_to 'Edit', edit_categoria_de_servico_path(categoria_de_servico) %></td>
        <td><%= link_to 'Destroy', categoria_de_servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria de servico', new_categoria_de_servico_path %>
