<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @categoria_de_servico.titulo %>
</p>

<%= link_to 'Edit', edit_categoria_de_servico_path(@categoria_de_servico) %> |
<%= link_to 'Back', categoria_de_servicos_path %>
